.App {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}


.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.blog-entry {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-entry h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.blog-entry p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .blog-entry {
    width: 90%;
  }

  .blog-entry h2 {
    font-size: 1.3em;
  }

  .blog-entry p {
    font-size: 0.9em;
  }
}